services:
  postgres:
    image: postgres:16-alpine
    container_name: blog_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    image: golang-blog:latest
    container_name: migrate
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_SSLMODE: "disable"
      SECRET_JWT: ${SECRET_JWT}
    command: ["migrate"]
  blog:
    build:
      context: .
      dockerfile: Dockerfile
    image: golang-blog:latest
    container_name: app
    depends_on:
      - postgres
      - migrate
    environment:
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_SSLMODE: "disable"
      SECRET_JWT: ${SECRET_JWT}
    ports:
      - 8080:8080
volumes:
  postgres_data: